.menu-calendario {
	border-right: 1px solid #333;
}

@media ( max-width :767px) {
	.menu-calendario {
		border-right: 0px;
		border-bottom: 1px solid #333;
		padding-bottom: 1rem;
	}
	.container-menu-calendario {
		width: 85% !important;
		margin: auto;
	}
	.panel-calendario {
		padding-top: 1rem;
	}
}

.menu-calendario-lista {
	height: calc(100vh - 23rem);
	overflow: auto;
	padding: 0 1.5rem;
	border: 1px solid #ced4da;
	background: #e5f1fc !important;
}

@media ( max-height : 800px) {
	.menu-calendario-lista {
		height: calc(100vh - 21rem);
	}
}