.row-perfiles {
	padding: 10px;
	height: 100%;
}


.button-funciones-perfil {
	margin: 5px;
	cursor: pointer
}
/*************************************/
.menu-perfiles {
	border-right: 1px solid #333;
}

@media ( max-width : 767px) {
	.menu-perfiles {
		border-right: 0px;
		border-bottom: 1px solid #333;
		padding-bottom: 1rem;
	}
	.container-menu-perfiles {
		width: 85% !important;
		margin: auto;
	}
	.panel-perfiles{
		padding-top: 1rem;
	}
}

.btn-funciones-perfiles {
	text-align: center;
	display: flex;
	align-items: center;
}

